build/
out/
cmake-build-debug/
cmake-build-release/
vcpkg_installed/
.cache/
.vs/
.vscode/
.idea/
.kdev4/
.DS_Store
CMakeSettings.json
*.kdev4
*.iml
# android
.gradle/
AndroidApp/local.properties
# node.js
node_modules/
build-msvc-x64/
build-msvc-x86/
AGENTS.md
CLAUDE.md