<h1>Login</h1>
<form id="login">
    <label for="password">Email (optional)</label>
    <input type="text" placeholder="Email Address" name="email">

    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" required>

    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
</form>
<span><a href="/register">Create a new account</a></span>
<span><a href="#">Forgot your password?</a></span>