<h1>Content</h1>
<h3>All user-generated content (games, images, audio, meshes, accessories, groups, etc.) stored on this server can be located here.</h3>
<div class="sidebar-container">
    {% if exists("idtypes") %}
        <aside class="sidebar">
            <h3>Types</h3>
            <hr>
            {% for this_idtype in idtypes %}
                <a {% if idtype == this_idtype %} class="active" {% endif %} href="/develop?idtype={{ this_idtype }}&page=1">{{ this_idtype }}</a>
            {% endfor %}
        </aside>
    {% else %}
        <h3>There are no ID types for some reason. This should not happen.</h3>
    {% endif %}
    {% if exists("idtype") %}
        {% if idtype == "Asset" %}
            <aside class="sidebar">
                <h3>Asset Types</h3>
                <hr>
            </aside>
        {% endif %}
    {% endif %}
    <main class="sidebar-content">
        <div class="tabs">
            {% if user.rank != "guest" %}
                <a href="/develop">My Creations</a>
                <a class="tab" href="/develop/groups">Group Creations</a>
            {% endif %}
            <a href="/develop/library">Library</a>
        </div>
        {% if exists("items") %}
            {% for item in items %}
                <div class="item">
                    <a href="/library/{{ item.id }}">
                        <img src="/content-image?idtype={{ idtype }}&id={{ item.id }}" alt={{ item.name }} width="600" height="400">
                        {{ item.name }}
                    </a>
                    By <a href="/users/{{ item.author.id }}/profile">@{{ item.author.name }}</a>
                </div>
            {% endfor %}
            <p>Page {{ currentpage }} of {{ totalpages }}</p>
        {% else %}
            <center><h3>No items found.</h3></center>
        {% endif %}
    </main>
</div>