/* ////////////////////////////////////////////////////////////////////////////////
 * noobWarrior
 * Plugin: Documentation
 * File: main.css
 * Description:
 * Started by: Hattozo
 * Started on: 8/3/2026
 * //////////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: 'Liberation Serif';
    src: url('/fonts/LiberationSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('/fonts/LiberationSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('/fonts/LiberationSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/SourceSansPro-Regular.ttf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    color-scheme: light dark; 
    --bg-color: light-dark(rgb(255 254 231), rgb(68, 68, 68));
    --text-color: light-dark(rgb(0, 0, 0), rgb(200, 200, 200));
    --logo-color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
    --border-color: light-dark(rgb(224 219 175), rgb(50, 50, 50));
}

body {
    /* background-image: url('/img/lightdark-linen.png');
    background-repeat: repeat; */
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

hr {
    border-style: solid;
    border-bottom: 1px;
    border-color: var(--border-color);
}

.main {
    /* background-image: url('/img/dark-linen.png');
    background-repeat: repeat; */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 8px 2px rgb(10, 10, 10);
    padding: 24px;
    font-size: 1rem;
}

.header {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}

.header-links {
    padding-left: 3em;
    padding-right: 3em;
}

.header-links ul {
    padding: 0;
    list-style: none;
}

#header-logo {
    display: flex;
    gap: 4px;
}

#header-logo p {
    font-size: 1.6rem;
}

#logo-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(logo-color);
}

#docs-text {
    transform: translateX(-3.2em) translateY(1em);
}

.content {
    display: flex;
    gap: 20px;
}

.footer {
    text-align: center;
}

.divider {
    flex: 0 0 1px;
    align-self: stretch;
    background-color: var(--border-color);
}