body {
    background-color: #3d3f40;
    color: #aeadac;
}

.main {
    max-width: 800px;
    margin: auto;
}

.header {
    height: 64px;
    vertical-align: middle;
}

.navbar {
    height: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    vertical-align: middle;
}

.content {
    background-color: rgb(43, 42, 43);
}

.footer {
    text-align: center;
}