<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ branding.title }} - {{ title }}</title>
		<link rel="icon" type="image/x-icon" href="{{ branding.favicon }}">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
		{% if exists("css_override") %}
			<link rel="stylesheet" href="{{ css_override }}">
		{% endif %}
	</head>
	<body>
	    <div class="navbar">
	        <img src="{{ branding.logo }}" alt="Logo" width="48" height="48"><p>{{ branding.title }}</p>
	    </div>
		<div id="content">
		    {% if exists("banner") %}
                {% if banner.message %}
                    <div background-color="{{ banner.background_color }} foreground-color="{{ banner.foreground_color }}" class="banner">{{ banner.message }}</div>
                {% endif %}
		    {% endif %}
			{{ body }}
			<hr>
            <center><footer>Powered by noobWarrior & CivetWeb</footer></center>
		</div>
	</body>
</html>