{% if user.rank != "guest" %}
    <img src="{{ user.headshot_thumbnail }}">
    <h2>Hello, {{ user.name }}!</h2>
{% else %}
    <h2>You are not logged in!</h2>
{% endif %}
{% if game_view_mode == "server" %}
    {% if servers %}
        <h2>Running Servers</h2>
        {% for server in servers %}
            <div class="server">
                <h1>{{ server.name }}</h1>
            </div>
        {% endfor %}
    {% endif %}
{% else %}

{% endif %}