<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ branding.title }} - {{ title }}</title>
		<link rel="icon" type="image/x-icon" href="{{ branding.favicon }}">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
	    <div class="navbar">
	        <img src="{{ branding.logo }}" alt="Logo" width="48" height="48"><p>{{ branding.title }}</p>
	        {% if permissions.access.home %}
	        <a class="active" href="/home">Home</a>
	        {% endif %}

	        {% if permissions.access.library %}
            <a href="/library">Library</a>
            {% endif %}

            {% if permissions.access.control_panel %}
            <a href="/control-panel">Control Panel</a>
            {% endif %}

            {% if user.rank != "guest" %}
                <a href="/users/{{ user.id }}/profile">{{ user.name }}</a>
            {% endif %}
	    </div>
		<div id="content">
		    {% if exists("banner") %}
                {% if banner.message %}
                    <div background-color="{{ banner.background_color }} foreground-color="{{ banner.foreground_color }}" class="banner">{{ banner.message }}</div>
                {% endif %}
		    {% endif %}
			{{ body }}
			<hr>
            <center><footer>Powered by noobWarrior HTTP Server & CivetWeb</footer></center>
		</div>
	</body>
</html>