<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>noobWarrior - {{ title }}</title>
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
        <h1>noobWarrior</h1>
		<div>
			{{ body }}
		</div>
		<hr>
		<footer>Powered by noobWarrior HTTP Server</footer>
	</body>
</html>